body {
    alignment: center;
    text-align: center;
    font-family: Calibri;
    background-color: darkgray;
}

main {
    alignment: center;
    font-family: Calibri;
    color: black;
}

header {
    background-color: teal;
    color: white;
    font-size: x-large;
    font-family: "Ink Free";
    alignment: center;
    border: 5px inset darkgoldenrod;
    padding: 10px;
}

footer {
    background-color: teal;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    border: 2.5px inset darkgoldenrod;}

table {
    margin-right: auto;
    margin-left: auto;
    alignment: center;
    padding: 10px;
}

.important {
    color: red;
}

.awesome {
    color: limegreen;
}

.chosen {
    font-size: xx-large;
    color: limegreen;
}

.picture {
    position: absolute;
    bottom: 15%;
}

p {
    text-align: center;
    alignment: center;
}

#submit {
    padding: 5px;
}

